<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SqlServerConnectionString" value="Server=(local)\SQL2012SP1;Database=master;User ID=sa;Password=Password12!" />
		<add key="SqlServer2005ConnectionString" value="Data Source=localhost;Initial Catalog=Test;Integrated Security=SSPI;" />
		<add key="SqlServerCeConnectionString" value="Data Source=test.sdf" />
		<add key="NpgsqlConnectionString" value="SERVER=localhost;User ID=postgres;Password=Password12!;" />
		<add key="MySqlConnectionString" value="Data Source=localhost;User Id=root;Password=Password12!;" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
